.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-app);
}

.main {
    flex: 1;
    margin-left: 250px;
    /* Sidebar width */
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* Prevent overflow */
}

.content {
    padding: 32px;
    flex: 1;
    overflow-y: auto;
}